<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.shibenli.baseui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".global.BaseApp"
        android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data android:value="@string/umeng_appkey" android:name="UMENG_APPKEY"/>
        <meta-data android:value="dev" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>
